# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environments
.env
.venv/
venv/
ENV/

# VSCode

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Static/Uploads
static/meal_photos/

# Others
*.sqlite3
*.db
response.json
